 /*---------------------------------------------------------------------------
  Title: Pulse Custom CSS
  Author: DWM
  Version: 1.0.0
----------------------------------------------------------------------------*/


body{
    font-family: Metropolis-Regular, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: Metropolis-Bold, sans-serif;
    text-transform: none;
    letter-spacing: 0;
    color: #34395A;
}
h1{
    letter-spacing: none;
}
p{
    font-family: Metropolis-Regular;
    color: #78809A;
    font-size: 18px;
    line-height: 24px;
}
.text-shadow{text-shadow: 0 2px 4px rgba(0,0,0,0.15);}


.teal{ color: #51DCB8; }
.purple{ color: #5D58F7; }

.bg-purple{ background-color: #5D58F7; }
.bg-dark{ background-color: #34395A; }
.bg-light{ background-color: #FAFAFA !important; }
.bg-pattern{
    background: url("../images/pulse/bg-pattern.jpg") center center;
    background-size: cover;

}

 
.strong{font-family: Metropolis-Bold, sans-serif;}

.btn{
    font-family: Metropolis-Bold, sans-serif;
    font-size: 15px;
}
.btn-shadow{
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
}
.btn-rounded{border-radius: 100px;}

.btn-yellow {
    border: 1px solid #FFB023;
    color: #ffffff !important;
    background-color: #FFB023;
}
.btn-yellow:hover {
    border: 1px solid #FFB023;
    color: #FFB023 !important;
    background-color: transparent !important;
}
.btn-teal {
    border: 1px solid #51DCB8;
    color: #ffffff !important;
    background-color: #51DCB8
}
.btn-teal:hover {
    border: 1px solid #51DCB8;
    color: #51DCB8 !important;
    background-color: transparent !important
}
.btn-purple {
    border: 1px solid #5D58F7;
    color: #ffffff !important;
    background-color: #5D58F7
}
.btn-purple:hover {
    border: 1px solid #5D58F7;
    color: #5D58F7 !important;
    background-color: transparent !important
}
.btn-outline-purple {
    border: 1px solid #C0C4D1;
    background-color: #ffffff;
    color: #5D58F7 !important;
}
.btn-outline-purple:hover {
    border: 1px solid #5D58F7;
    color: #ececec !important;
    background-color: #5D58F7 !important
}
.btn-outline-teal {
    border: 1px solid #51DCB8;
    background-color: transparent;
    color: #51DCB8 !important;
}
.btn-outline-teal:hover {
    border: 1px solid #51DCB8;
    color: #ffffff !important;
    background-color: #51DCB8 !important
}

.btn-white {
    border: 1px solid #ffffff;
    color: #FFB023 !important;
    background-color: #ffffff
}
.btn-white:hover {
    border: 1px solid #ffffff;
    color: #ffffff !important;
    background-color: transparent !important
}
.btn-outline-white {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff !important;
}
.btn-outline-white:hover {
    border: 1px solid #ffffff;
    color: #FFB023 !important;
    background-color: #ffffff !important
}
.btn-icon {
    padding: 12px 15px 12px 20px;
}
 
.link-icon{
    letter-spacing: 0.5px;
    font-size: 15px;
    color: #949BB2;
    font-family: Metropolis-Bold, sans-serif;
    text-transform: uppercase;
}
.link-icon:hover{color: #51DCB8;}


/* centered columns styles */
.row-centered { text-align:center;}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

/*============
| Navigation
============*/
.main-nav a{font-family: Metropolis-Bold, sans-serif;f}
.brand-logo .navbar-brand img{
     width: 125px !important;
}


/*============ 
| Home
============*/
.home-header-content{
    position: relative;
}
.home-header{
    background: url("../images/pulse/bg-pattern.jpg") center center;
    background-size: cover;
    text-align: center;
     
    overflow: hidden;
 
}
.home-header .wrap{
    margin: 0 auto;
    max-width: 760px;
     

}
.home-header h1{
    color: #ffffff;
    letter-spacing: 0;
    text-transform: none;
}
.home-header p{
    color: #ffffff;
}

.brand-logo img{
    max-width: max-content;
}



/*============ 
| Home - Tagline
============*/
.home-tagline p{
    color: #C0C4D1;
}


/*============ 
| Home - Showcase
============*/
 
.showcase .infography-style-3 .infography-icon i{
    color: #3CD0A9;
    font-size: 21px;
     top: 38px;
}

.showcase .infography-style-3 .infography-info {
    padding-left: 20px;
    text-align: left;
   
}
.showcase .showcase-text{
    max-width: 440px;
}
.showcase .showcase-dash i {
    color: #3CD0A9;
    margin-right: 6px;
}
.showcase .showcase-mvp{
    color: #615FF0;
    font-size: 16px;
}


/*============ 
| Features
============*/
 
.feature{}

.feature .infography-style-4{
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.08);
}
.feature .infography-style-4 .infography-icon{}
.feature .infography-style-4 h4{
    font-family: Metropolis-Bold, sans-serif;
    font-size: 13px;
    color: #34395A;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.feature .infography-style-4 p{
    /* Lorem ipsum dolor si: */
    font-size: 14px;
    color: #78809A;
    line-height: 26px;
}
.feature .icon-1{ color: #FFAB6E; }
.feature .icon-2{ color: #FF5555; }
.feature .icon-3{ color: #46AFFF; }
.feature .icon-4{ color: #FFC55D; }
.feature .icon-5{ color: #3CD0A9; }
.feature .icon-6{ color: #615FF0; }


/*============ 
| Pricing
============*/

.pricing-table-1 .price-table{
    border: none;
    border-radius: 4px;
    color: #78809A;
}
.pricing-table-1 .price-details{
    padding: 0px;
    margin-bottom: 30px;
}
.pricing-table-1 .price-details li{
    font-size: 13px;
    list-style: none;
    border-top: 1px solid #D8D8D8;
    text-align: center;
    padding: 8px 0;
}
.pricing-table-1 .price-details li:last-child{
    border-bottom: 1px solid #D8D8D8;
}
.pricing-table-1 .price-details li:before{
    display: none;
}
.pricing-table-1 .price-state-wrapper{
    border-bottom: none;  
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
}
.pricing-table-1 .price-state-wrapper h3{
    margin: 18px 0 14px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
.pricing-table-1 .price{
    padding-top: 55px;
    margin-bottom: 0;
    border-bottom: none;
}
.pricing-table-1 .price .price-value, .pricing-table-1 .price .price-value i{
    color: #ffffff;
    font-family: Metropolis-Bold, sans-serif;
}
.pricing-table-1 .price .price-payment{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    display: block;
    letter-spacing: 1.5px;
    margin-top: 8px;
}
.pricing-table-1  .price-feature{
    padding: 20px 0;
}
.pricing-table-1 .price-feature p{
    display: block;
    margin: 0;
}
.pricing-table-1 .price-feature .price-info{
    font-family: Metropolis-Regular;
    font-size: 13px;
    letter-spacing: 1.39px;
    text-align: center;
    text-transform: uppercase;
}
.pricing-table-1 .price-feature .price-value{
    font-family: Metropolis-Bold, sans-serif;
}
.pricing-table-1 .price-feature .price-info{
    color: #474F67;
}


/* Package 1 */
.pricing-table-1 .package-1 .price-state-wrapper{
    background: #63DABB;
}
.pricing-table-1 .package-1 .price{
    background: #3CD0A9;
}
.pricing-table-1 .package-1 .price-feature{
    background: #F9FAFF;
}
.pricing-table-1 .package-1 .price-feature .price-value{
    color: #3CD0A9;
}

/* Package 2 */
.pricing-table-1 .package-2 .price-state-wrapper{
    background: #8280F3;
}
.pricing-table-1 .package-2 .price{
    background: #615FF0;
}
.pricing-table-1 .package-2 .price-feature{
    background: #F9FAFF;
}
.pricing-table-1 .package-2 .price-feature .price-value{
    color: #615FF0;
}

/* Package 3 */
.pricing-table-1 .package-3 .price-state-wrapper{
    background: #FFCA69;
}
.pricing-table-1 .package-3 .price{
    background: #FFB21E;
}
.pricing-table-1 .package-3 .price-feature{
    background: #F9FAFF;
}
.pricing-table-1 .package-3 .price-feature .price-value{
    color: #FFB21E;
}
.pricing-table-1 .package-3 .price-ent{
    display: block;
}
.pricing-table-1 .package-3 .price-details{
    margin-bottom: 0;
}
.pricing-table-1 .package-3 .price-link{
  
}
.pricing-table-1 .package-3 .price-link a{
    font-family: Metropolis-Bold, sans-serif;
    color: #FFB21E;
}
.pricing-table-1 .package-3 .price-link a:hover{
    color: #78809A;
}

/*============ 
| CTA
============*/
.cta{
    padding: 100px 40px 60px;
    border: none;
}
.cta h1{
    /* Ready to have your o: */
    font-family: Metropolis-Bold;
    text-align: center;
    color: #ffffff;
}


/*============ 
| Footer
============*/
.footer{
    border-top: 1px solid #dddddd;
    background: #ffffff; 
    padding: 50px 0;
}

.footer .phone-number p{
    color: #5D58F7;
    font-family: Metropolis-Bold;
    font-size: 17px;
}
.footer .phone-number i{
    font-size: 21px;
    vertical-align: middle;
}


.footer-bottom{
    background: #474F67;
    color: #949BB2;
}

.footer-bottom a, .footer-bottom .copyright{
     color: #949BB2;
}


.footer p {
    color: #78809A;
    font-family: Metropolis-Regular;
    font-size: 15px;
    text-align: left;
    line-height: 18px;
    display: inline-block;
}


.footer i {
    font-size: 16px;
    vertical-align: middle;
    color: #615FF0;
    width: 20px;
    float: left;
    height: 25px;
    text-align: left;
    margin-left: -1em;
}

.footer ul li {
    display: inline-block;
    margin-left: 60px;
    vertical-align: top;
}



/* Case Study */
.case-study{
}
.case-study .inner-header{
    background: #34395A;
    text-align: center;
    background: url("../images/pulse/bg-pattern.jpg") center center;
    background-size: cover;

}

.case-study .inner-header p{
    color: #ffffff;
    font-size: 21px;
    margin: 0;
}

.case-study .inner-header h1{
    color: #ffffff;
    font-size: 48px;
}

.case-study .desc{
    /* Rectangle: */
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F3F7FA 98%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F3F7FA 98%);
    background-image: linear-gradient(to top, #FFFFFF 0%, #F3F7FA 98%);
    border-bottom: 1px solid #EBEBED;
}
.case-study .desc p{
    font-size: 19px;
    line-height: 28px;

}

.case-study .features h3{
    /* Explore the features: */
    font-family: Metropolis-Bold, sans-serif;
    font-size: 24px;
    color: #34395A;
    letter-spacing: 1.6px;
    text-align: center;
    text-transform: uppercase;
}

.cta-case{
    background: #5D58F7;
    text-align: center;
}

.cta-case h1{
    font-size: 48px;
    color: #ffffff;
}

.cta-case p{
    font-size: 24px;
}
.cta-case .btn-yellow:hover{
    color: #ffffff !important;
}


/*============ 
| Inner Pages
============*/
.inner .inner-header{
    background: #34395A;
    text-align: center;
    background: url("../images/pulse/bg-pattern.jpg") center center;
    background-size: cover;

}

.inner .inner-header p{
    color: #ffffff;
    font-size: 21px;
    margin: 0;
}

.inner .inner-header h1{
    color: #ffffff;
    font-size: 48px;
}


.inner-content{
    padding: 120px 0;
}



/*============ 
| Contact
============*/

.contact{
   width: 100%;
    height: 100vh;
    display : flex;
   
}
.contact-wrapper{
     margin : auto;
}
.contact h1{
    line-height: auto;
    color: #ffffff;
}
.contact p{
    color: #FFFFFF;
    text-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
.contact-form{
    background: #ffffff;
    padding: 20px;
}
.contact-form p{
    color: #78809A;
    font-size: 15px;
    line-height: 25px;
}

.contact .row{
    align-items: center !important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* lg Desktop Screen*/
@media (min-width: 1200px) {}
/* End Desktop Screen*/

/* md  Laptop Screen*/
@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 992px) {
    .p-lg{
        font-size: 22px;
        line-height: 32px;
    }
    .btn i{
        margin-left: 15px;
        font-size: 24px;
        vertical-align: sub;
    }
    .btn-lg{
        padding: 25px 30px;
        font-size: 20px;
    }
    .btn-lg-icon .ionicons{
        font-size: 30px;
    }
    .link-icon i{
        font-size: 18px;
        vertical-align: middle;
        margin-left: 5px;
    }
  
    .vertical-align{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-header h1{
        font-size: 60px;
        line-height: 72px;
    }
    .home-header p{
        font-size: 24px;
        line-height: 34px;
    }
    h2{
        font-size: 36px;
        line-height: 43px;
    }
    h3{
        font-size: 20px;
        line-height: 24px;
    }


    .subheader{
        font-size: 22px;
        line-height: 32px;
    }

    .feature-item{
        padding: 0 20px;
    }

    .testimonial-1 .item-wrap{
        padding: 70px 40px 30px; 
        top: 60px;
    }

    .testimonial-1 .person-img{
        position: absolute;
        left: 45%;
        z-index: 9999;
    }
    .contact-form{
        padding: 40px;
    }
    .contact p{
         
        line-height: 24px;
    }

    .contact-form p{
        font-size: 15px;
    }

    .cta h1{
        font-size: 36px;
    }
    .contact h1{
        font-size: 45px;
        line-height: 60px;
    }

}
/* End Laptop Screen*/

/* md  Laptop Screen */
@media (max-width: 991px) {
    .home-header .wrap, .home-header img{
        padding: 0 40px;
    }
    .bg-left .bg img{
        top: 250px;
        left: -250px;
        position: absolute;
    }

    .price-table{
        border: none !important;
    }

}

/*sm Tablet Screen*/
@media (min-width: 768px) and (max-width: 991px) {}
/* End Tablet Screen*/

/*xs Mobile Screen (Large) */
@media screen and (max-width: 767px) {
    .home-header img{
        max-width: 100%;
    }
    .showcase img{
        max-width: 100%;
    }

    .split-box .content{
        padding-left: 0;
        padding-right: 0;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

}
/* End Mobile Screen*/

/*xs Mobile Screen (small) */
@media screen and (max-width: 480px) {

    .footer .logo {
        float: none !important;
    }
    .footer .phone-number{
        text-align: center;
        margin-top: 20px;
    }
        
}
/* End Mobile Screen*/









.has-float-label {
  display: block;
  position: relative;
}
.has-float-label label, .has-float-label > span {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  font-size: 85%;
  opacity: 1;
  transition: all .2s;
  color: #869098;
}
.has-float-label select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.has-float-label input, .has-float-label select, .has-float-label textarea {
  font-size: 16px;
  font-family: Metropolis-Regular, sans-serif;
  padding-top: 1.5em;
  margin-bottom: 2px;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(202, 208, 221, 0.5);
}
.has-float-label input::placeholder, .has-float-label select::placeholder, .has-float-label textarea::placeholder {
  opacity: 1;
  transition: all .2s;
}
.has-float-label input:placeholder-shown:not(:focus)::placeholder, .has-float-label select:placeholder-shown:not(:focus)::placeholder, .has-float-label textarea:placeholder-shown:not(:focus)::placeholder {
  opacity: 0;
}
.has-float-label input:placeholder-shown:not(:focus) + *, .has-float-label select:placeholder-shown:not(:focus) + *, .has-float-label textarea:placeholder-shown:not(:focus) + * {
  font-size: 14px;
  color: #ACB5C9;
  top: .3em;
  text-transform: none;
}
.has-float-label input:focus, .has-float-label select:focus, .has-float-label textarea:focus {
  outline: none;
  border-color: #CAD0DD;
  box-shadow: none;
}
.has-float-label textarea {
  resize: none;
  overflow: hidden;
  max-height: 100%;
}
.has-float-label select {
  padding-right: 1em;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.5em bottom 0.25em;
  background-size: 8px 10px;
}
.has-float-label span {
  font-family: Metropolis-Regular, sans-serif;
}
